body, h2, input, button {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    position: absolute;
    top: 0;
    width: 100%;
    background: #8B4513; /* Marrom escuro */
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1000; /* Garante que o cabeçalho esteja acima de outros elementos */
}

nav {
    display: flex;
    justify-content: center;
}

#cadastro, #login {
    background: #8B4513; /* Marrom escuro */
    border: none;
    color: #D2B48C; /* Bege */
    padding: 10px 20px;
    margin: 0 5px;
    cursor: pointer;
    border-radius: 5px;
    transition: background 0.3s, color 0.3s;
    text-decoration: none;
}

#cadastro:hover, #login:hover {
    background: #D2B48C; /* Bege */
    color: #3e4345; /* Marrom escuro */
}

.criar_doacoa {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.lateralcentro {
    font-family: Arial, sans-serif;
    height: 100vh;  
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: url('imagens/o-retrato-de-um-cao-labrador-preto-tirado\ \(1\).jpg') no-repeat center center fixed;
    background-size: cover;
    position: relative;
}

.doacao {
    display: flex;
    gap: 3%;
}

.lateralcentro::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Cor preta com 50% de opacidade */
    z-index: 1; /* Coloca a película sobre a imagem, mas abaixo do conteúdo */
}

.titulocentro, .formulario {
    position: relative; /* Garante que o conteúdo fique acima da película */
    z-index: 2;
}

.botao {
    cursor: pointer;
    background-color: #8B4513; /* Marrom escuro */
    color: #D2B48C; /* Bege */
    padding: 5px;
    height: 70%;
    width: 80%;
    border: none;
    border-radius: 10px;
    transition: background 0.3s, color 0.3s;
    z-index: 2; /* Assegura que o botão esteja acima da película */
    position: relative;
    display: flex; /* Adiciona flexbox para centralização */
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
}

.botao:hover {
    background: #D2B48C; /* Bege */
    color: #3e4345; /* Marrom escuro */
}

.botaoform {
    margin: 0; /* Remove a margem padrão do <p> */
    text-align: center; /* Garante que o texto dentro do <p> também esteja centralizado */
}

.formulario {
    display: none; 
    position: fixed;
    top: 20%;
    left: 30%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40vw;
    gap: 5vh;
    border: 4px solid rgb(73, 20, 20);
    background-color: beige;
    border-radius: 10px;
    height: 57vh;
    z-index: 2000; /* Certifica-se de que o formulário esteja acima de tudo */
}

.input_campo {
    border: 1px solid rgb(73, 20, 20);
    border-radius: 7px;
    padding: 5px; /* Adiciona algum preenchimento interno para uma melhor aparência */
}

.enviar {
    border: 4px solid rgb(73, 20, 20);
    border-radius: 10px;
    cursor: pointer;
    padding: 5px; /* Adiciona algum preenchimento interno para uma melhor aparência */
}

.titulocentro {
    color: #fff;
}

.button {
    display: block;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #ddd;
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.card_doacao {
    background-color: #5C4033; /* Cor de fundo marrom */
    width: 15vw; /* Largura relativa */
    height: 30vh; /* Altura relativa */
    margin: 10px auto; /* Margem automática para centralizar horizontalmente */
    padding: 20px; /* Preenchimento interno aumentado */
    border-radius: 10px; /* Bordas arredondadas */
    display: flex; /* Flexbox para alinhamento de conteúdo */
    flex-direction: column; /* Direção vertical dos itens */
    justify-content: center; /* Alinhamento central vertical */
    align-items: center; /* Alinhamento central horizontal */
    gap: 1vh; /* Espaço entre os itens */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Adiciona uma sombra sutil */
    transition: transform 0.3s, box-shadow 0.3s; /* Transições suaves para transformações */
}

.card_doacao:hover {
    transform: translateY(-10px); /* Levanta o card ao passar o mouse */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); /* Aumenta a sombra ao passar o mouse */
}

.card_doacao h2 {
    color: #D2B48C; /* Cor do texto do título */
    margin-bottom: 10px; /* Espaçamento inferior */
    font-size: 1.2em; /* Tamanho do texto */
}

.card_doacao p {
    color: #fff; /* Cor do texto */
    font-size: 1em; /* Tamanho do texto */
    text-align: center; /* Alinha o texto ao centro */
}


.fechar {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
    color: #333;
}
